body{
    font-family: "Lucida Console";
    margin: 0px;
    background-color: #393025;
}
h1,h2,h3,h4{
    margin: 0px;
}
*,
*:after,
*:before{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0px auto;
    background-color: #cccccc;
}

/*menu navigation*/
.header_line {

    display: flex;
    justify-content: space-between;
    top: 0px;
    background: url("../images/biketire.png") center no-repeat;
    background-size: 1100px 520px;
    width: 1100px;
    height: 520px;
}
.logo-font1{
    font-family: "Segoe Print";
    font-size: 18pt;
    color: #cccccc;
}
.logo-font2{
    font-family: Cambria;
    font-size: 18pt;
    color:#b15e33;
}
.logo-font3{
     font-family: Cambria;
     font-size: 18pt;
    color: #ccc;
 }
.logo-caption{
    left: 30px;
    top:18px;
}

.nav {
    font-size: 14px;

}

h2{
    font-family: "Segoe UI";
    font-size: 30px;
    color: #336666;
    margin-left: 72px;
}
.postmain{
    display: flex;
    justify-content: space-between;
}
.postside{

}